<?xml version="1.0"?>
<launch>
  <arg name="port" default="/dev/ttyUSB0" />
  <arg name="baud_rate" default="57600" />
  <arg name="file" default="$(find dynamixel_workbench_ros_control)/config/example.yaml" />

  <!-- Husky harware driver -->
  <node pkg="dynamixel_workbench_ros_control" type="dynamixel_controller_manager_node" name="dynamixel_controller_manager_node">
    <rosparam subst_value="true">
      port: $(arg port)
      dynamixel_info: $(arg file)
      baud_rate: 57600
      control_frequency: 10.0
    </rosparam>
  </node>

  <!-- Differential controller parameters and basic localization -->
  <!-- <include file="$(find husky_control)/launch/control.launch" /> -->

  <!--Teleop -->
  <!-- <include file="$(find husky_control)/launch/teleop.launch" /> -->

</launch>
